/* setting */
*{ margin: 0; padding: 0; box-sizing: border-box; user-select: none;}
li{ list-style: none;}
button{ background: transparent; border: 0; outline: 0; cursor: pointer;}
html,body{ width: 100%; height: 100%; background: #efefef;}
/* class */
.flex{ display: flex;}
.btn{ padding: 10px 20px; border-radius: 5px; border:1px solid #282828;}



/* #app */
#app{ width: 100%; height: 100%;}
#app nav{ width: 220px; min-width: 220px;}
#app section{ flex:1; }

/* nav.sidebar */
.sidebar{ padding: 40px 20px; background: #fff;}
.sidebar .workspace-container .workspace{ margin-bottom: 20px; opacity: 0.8; }
.sidebar .workspace-container .workspace.active{ opacity: 1; font-weight: bold; }
/* .sidebar .workspace-container .workspace:last-child{ margin-bottom: 0;} */
 
/* section.kanban-board */
.kanban-board{ padding: 40px; flex-wrap: nowrap; gap: 20px; align-items: start;  } 
.kanban-board .btn.create-column{ height: min-content; white-space: nowrap; }
.kanban-board .column { padding: 20px;  width: 300px; background: #fff; height: min-content;  border-radius: 5px;;}
.kanban-board .column .column-name{ font-weight: bold; white-space: nowrap; text-overflow: ellipsis; }
.kanban-board .column .card-container{  padding: 20px 0; display: grid; gap: 10px;}
.kanban-board .column .card-container .card{ padding: 10px; border-radius: 5px; border:1px solid #aaa; }


